/* Name- Arya Miteshbhai Patel & Student number- 8980267 */ 
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    background-color: hsla(212, 56%, 86%, 0.9);
    height: 90vh;
    width: 90vw;
}
h2{
    color: rgb(71, 84, 201);
    font-size: 1.5em;
}
header{
    background-color:hsl(78, 51%, 65%);
}
main{
    background-color:hsl(145, 74%, 75%);
    float:left;
    width: 950px;
    padding:10px;
}
aside{
    background-color:hsl(339, 38%, 60%);
    float:right;
    width:250px;
    padding:10px;
}
footer{
    background-color:hsl(293, 40%, 62%);
    clear:both;
}
footer p{
    font-size:small;
}
.structrual{
    margin: 5px;
    border: 10%;
    padding: 10px;
}
#paragraph1{
    color:rgb(168, 13, 13) ;
}
#paragraph2{
    color: rgb(109, 17, 72);
}
a:hover{
    color:#ffff00;
}
h1{
    color: blue; 
    font-size: 35px;
}
aside ul li a{
    color:rgb(9, 9, 87);
}
aside ul {
    list-style-type: square;
  }

aside li {
     line-height:1.5em ;
    }
aside li a:hover{
    color:rgb(214, 47, 103);
    background-color: grey;
}
nav li{
    display: inline;
    list-style: none;
}
nav a{
    border: 2px solid indigo;
    background-color: cornsilk;
    text-decoration: none;
    color:indigo;
}
nav a:hover{
    background-color: indigo;
    color: cornsilk;
    border:cornsilk;
}
form{
    border: 5px dashed rgb(8, 70, 8);
    padding: 5px;
}
main, aside{
    height: auto;
}
input[type="text"], input[type="email"], input[type="submit"], select, option{
    width: 50%;
    display: block;
    height: 2em;
}
input[type="radio"], input[type="checkbox"]{
    height: 2em;
    width: 2em;
}
select, option, label, legend, input[type="submit"]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    width: 50%;
    display: block;
}
fieldset{
    border: none;
}